# Node dependencies
node_modules/

# IDE specific files (PyCharm)
.idea/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

.env
**/CLAUDE.local.md
